body.equipments.index {
  .sticky-top {
    position: sticky;
    top: 82px;
    z-index:1020;
  }

  .kitesurf-product {
    overflow: hidden;
    height: 120px;
    background: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin-top: 20px;
  }

  .kitesurf-product img {
    height: 100%;
    width: 120px;
    object-fit: cover;
  }

  .kitesurf-product h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }

  .kitesurf-product p {
    font-size: 12px;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .kitesurf-product div {
    padding: 0px 24px;
  }

  .kitesurf-product .card-product-infos {
    padding: 16px;
  }

  .form-actions button {
    color:white;
  }


  h1 {
    color: white;
    font-size: 32px;
    font-weight: bolder;
  }


  h2 {
    color: #004d7f;
    font-size: 18px;
    font-weight: bolder;
    text-decoration: underline;
  }

  h3 {
    font-size: 18px;
    font-weight: bolder;
  }

  h4 {
    font-size: 16px;
    font-weight: lighter;
  }


  hr{
   color: black;
  }

  a {
    color: white;
  }
  .kitesurf {
    background-color: white;
    box-shadow: 0px 1px 4px 1px 0.2;

  }

  .photo {
    padding: 5px;
    border-radius: 4px;
  }

  .bg-dark {
    background-color: #004d7f;
  }

}
