<div class='cards'>
  <div class="card-style" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('style/wave.jpg') %>)">
    Wave
  </div>

  <div class="card-style" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('style/freestyle.jpg') %>)">
    Freestyle
  </div>

  <div class="card-style" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('style/freeride.jpg') %>)">
    Freeride
  </div>

  <div class="card-style" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= asset_path('style/foil.jpg') %>)">
    Foil
  </div>
</div>
