<ul class="list-inline tabs-underlined">
  <li>
    <a href="#" class="tab-underlined active">Profil</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Reservations</a>
  </li>
  <li>
    <a href="#" class="tab-underlined">Equipments</a>
  </li>
</ul>
