.bar-form-search {
  display: flex;
  justify-content: center;
  background-color: #004D7F;
  margin: auto;
  padding: 20px;
  text-align: center;
  color: white;
  position: sticky;

  div {
  padding: 0 10px;
}
  .btn {
  margin-top: 8px;
}
}


